[submodule "eigen-git-mirror"]
	path = eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "cpp_utilities"]
	path = cpp_utilities
	url = https://github.com/jmcarter9t/cpp_utilities.git
